<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password Verification</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 1rem;
            line-height: 1.5;
        }

        h1 {
            font-size: 2.4rem;
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .pinContainer {
            width: 100vw;
            margin: auto;
        }

        .pin {
            width: fit-content;
            padding: 10px 10px 10px 10px;
            border-radius: 0.5rem;
            background-color: #3498db;
            color: white;
        }
    </style>
</head>

<body>
    <div>
        <h1>{{Subject}}</h1>

        <p>Hi {{ username }},</p>

        <p>Hello from ToDo Buddy! To reset your account password please enter this pin to
        the verification field:</p>
        <div class="pinContainer">
            <p class="pin">{{ pin }}</p>
        </div>
        <p>If you don't enter this PIN within 30 mins, your verification pin will expire.</p>
        <p>Thanks,</p>
        <p>To Do Buddy Support</p>
    </div>
</body>

</html>